---

---

<script>
    function loadGiscus() {
        const container = document.getElementById("giscus-comments");

        if (!container) return;

        // 创建 script 元素
        const script = document.createElement("script");
        script.src = "https://giscus.app/client.js";
        script.dataset.repo = "Ouzr0107/fuwari";
        script.dataset.repoId = "R_kgDOOfspqQ";
        script.dataset.category = "Announcements";
        script.dataset.categoryId = "DIC_kwDOOfspqc4CpekP";
        script.dataset.mapping = "pathname";
        script.dataset.strict = "0";
        script.dataset.reactionsEnabled = "1";
        script.dataset.emitMetadata = "0";
        script.dataset.inputPosition = "top";
        script.dataset.theme = "https://imwzj.uk/giscus_theme.css";
        script.dataset.lang = "zh-CN";
        script.dataset.loading = "lazy";
        script.crossOrigin = "anonymous";
        script.async = true;

        // 清空容器并插入新脚本
        container.innerHTML = "";
        container.appendChild(script);
    }
    loadGiscus();

    // 页面加载时加载评论
    document.addEventListener("astro:after-swap", loadGiscus);
</script>
<div id="giscus-comments"></div>
